#design_dev {
    background: #fff9f0;
    padding: 92px 0 120px;
    position: relative;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.container {
    max-width: 1134px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}